.profContainer{
    width: 100%;
    z-index: 5;
}

.profUserDetail, .profUserMenu{
    padding: 10px 10px;
    display: flex;
    justify-content: start;
    align-items: center;
    overflow: hidden;
}

.profModalTitle{
    margin: 0;
    padding: 0;
    margin-inline-start: 5px;
    font-size: large;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
}

.profModalTitle:hover{
    cursor: pointer;
}


.line {
    margin: 0;
    padding: 0;
}

